@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 944px;
  margin: 0 auto;
}

.header {
  padding: 33px 15px 0 15px;
  margin: 0 15px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 33px;
  border-bottom: 1px solid #828282;
}

.header__item a {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

@media (max-width: 500px) {
  .header {
    display: none;
  }
}

.header-info {
  color: #070707;
  padding: 0 15px 105px 15px;
  margin: 0 15px;
}

.header-info__body {
  padding: 40px 0 30px 0;
}

.header-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .header-info__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header-info__tittle {
  font-size: 47.3px;
  line-height: 59px;
  font-weight: bold;
}

.header-info__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.header-info__lang {
  font-weight: bold;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .header-info__lang {
    display: none;
  }
}

.header-info__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-info__image img {
  -o-object-position: center;
     object-position: center;
}

.about {
  padding: 120px 15px 107px 15px;
  background: #f6f6f6;
  margin: 0 15px;
}

.about__wrapper {
  max-width: 485px;
  margin: 0 auto;
}

.about__title {
  text-align: center;
  padding-bottom: 15px;
}

.about__body {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.about__body p {
  margin-bottom: 45px;
}

.about__body p:last-child {
  margin-bottom: 0;
}

.skills {
  padding: 91px 15px 110px 15px;
  margin: 0 15px;
}

.skills__title {
  text-align: center;
  margin-bottom: 69px;
}

.skills__body {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 83px;
}

.item-icons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .item-icons__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.item-icons__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 207px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .item-icons__skill {
    margin-bottom: 40px;
  }
}

.item-icons__skill:last-child {
  margin-bottom: 0;
}

.item-icons__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}

.item-icons__name p {
  color: #828282;
  text-align: center;
}

.portfolio {
  margin: 0 15px;
  padding: 113px 15px 96px 15px;
  background-color: #f6f6f6;
}

.portfolio__title {
  text-align: center;
  margin-bottom: 47px;
}

.portfolio__example {
  margin-bottom: 99px;
}

.portfolio__example:last-child {
  margin-bottom: 0;
}

.portfolio__image {
  margin-bottom: 45px;
}

.portfolio__link {
  text-align: center;
  font-weight: 500;
}

.portfolio__link a {
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #070707;
}

.title {
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  color: #070707;
}

.contacts {
  margin: 0 15px;
  padding: 114px 15px 123px 15px;
}

.contacts__wrapper {
  max-width: 342px;
  margin: 0 auto;
}

.contacts__title {
  text-align: center;
  margin-bottom: 20px;
}

.contacts__body {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 30px;
  color: #070707;
  font-weight: 500;
}

.contacts__button {
  text-align: center;
  margin-bottom: 86px;
}

.contacts__button button {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background-color: #000;
  height: 42px;
  width: 180px;
  border-radius: 30px;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.contacts__info {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #828282;
}

.active a {
  color: #000;
}

.notactive {
  color: #828282;
}
