* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/* Fonts */

@font-face {
   font-family: "Gilroy";
   src: url("fonts/Gilroy-Regular.eot");
   src: local("Gilroy Regular"), local("Gilroy-Regular"),
      url("fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
      url("fonts/Gilroy-Regular.woff2") format("woff2"), url("fonts/Gilroy-Regular.woff") format("woff"),
      url("fonts/Gilroy-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Gilroy";
   src: url("fonts/Gilroy-Bold.eot");
   src: local("Gilroy Bold"), local("Gilroy-Bold"), url("fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
      url("fonts/Gilroy-Bold.woff2") format("woff2"), url("fonts/Gilroy-Bold.woff") format("woff"),
      url("fonts/Gilroy-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: "Gilroy";
   src: url("fonts/Gilroy-Light.eot");
   src: local("Gilroy Light"), local("Gilroy-Light"), url("fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("fonts/Gilroy-Light.woff2") format("woff2"), url("fonts/Gilroy-Light.woff") format("woff"),
      url("fonts/Gilroy-Light.ttf") format("truetype");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Gilroy";
   src: url("fonts/Gilroy-Semibold.eot");
   src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
      url("fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
      url("fonts/Gilroy-Semibold.woff2") format("woff2"), url("fonts/Gilroy-Semibold.woff") format("woff"),
      url("fonts/Gilroy-Semibold.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "Gilroy";
   src: url("fonts/Gilroy-Medium.eot");
   src: local("Gilroy Medium"), local("Gilroy-Medium"),
      url("fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
      url("fonts/Gilroy-Medium.woff2") format("woff2"), url("fonts/Gilroy-Medium.woff") format("woff"),
      url("fonts/Gilroy-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
}

/* --------------- */

img {
   max-width: 100%;
}

.orange-text {
   color: #ef8711;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.section {
   padding-left: 15px;
   padding-right: 15px;
}

.section-title {
   text-align: center;

   font-family: Gilroy;
   font-style: normal;
   font-weight: 600;
   font-size: 38px;
   line-height: 47px;
   color: #0297f1;
}

.main {
   background: linear-gradient(180deg, #ddecff 0%, #f7faff 51.04%, #ddecff 100%);
}

/* Header styles */

.header {
   padding: 30px 0;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;

   background: #ddecff;
}

.header__row {
   margin-bottom: 35px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__menu {
}

.menu__list {
   display: flex;

   justify-content: space-between;
}

.menu__list a {
   padding-bottom: 5px;

   color: #85888f;
}

a.active-link {
   position: relative;

   color: #0297f1;
}

.active-link::after {
   content: "";

   position: absolute;
   left: 0;
   bottom: 0;
   height: 2px;
   width: 100%;

   border-radius: 5px;
   background-color: #0297f1;
}

/* Welcome section styles */

.welcome {
   position: relative;

   padding-top: 30px;
   padding-bottom: 155px;

   background: linear-gradient(
         90deg,
         rgba(255, 255, 255, 0.44) -3.25%,
         rgba(247, 248, 252, 0.716923) -3.23%,
         rgba(245, 246, 252, 0.719037) -3.22%,
         rgba(130, 187, 255, 0.47) -3.21%,
         rgba(83, 103, 174, 0.67) 37.08%,
         rgba(0, 5, 20, 0.86) 100%
      ),
      url("img/welcome-bg.png");
}

.welcome .container {
   position: relative;
}

.welcome .container::after {
   content: "";
   position: absolute;
   right: 0;
   top: 65px;
   z-index: 2;

   width: 380px;
   height: 480px;

   background: url("img/welcom.png") no-repeat;
}

.welcome .container::before {
   content: "";
   position: absolute;
   right: 0;
   top: 85px;

   transform: translate(25px, 50px);

   width: 320px;
   height: 440px;

   background: #0297f1;
   border-radius: 15px;
}

.breadcrumbs {
   margin-bottom: 103px;
}

.breadcrumbs__item {
   position: relative;

   padding: 0 20px 0 0;
   display: inline-block;
}

.breadcrumbs__link {
   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   color: #fff;
}

.breadcrumbs__item::after {
   content: "";
   position: absolute;
   right: 0;
   top: 35%;

   width: 8px;
   height: 1px;
   transform: rotate(45deg);

   background-color: #50bdff;
}

.breadcrumbs__item::before {
   content: "";
   position: absolute;
   right: 0;
   bottom: 35%;

   width: 8px;
   height: 1px;
   transform: rotate(-45deg);

   background-color: #50bdff;
}

.welcome__info {
   max-width: 620px;
}

.welcome__title {
   margin-bottom: 5px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: bold;
   font-size: 48px;
   line-height: 59px;

   color: #fff;
}

.welcome__subtitle {
   margin-bottom: 30px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 29px;

   color: #e1e1e1;
}

.welcome__buy {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 255px;
   height: 55px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 24px;
   color: #ffffff;

   background: #0297f1;
   border-radius: 10px;
}

/* Direction section styles */

.directions {
   padding-top: 50px;
   padding-bottom: 35px;
}

.directions__title {
   margin-bottom: 38px;
}
.directions__row {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
}
.directions__item {
   display: flex;
   flex-direction: column;
   max-width: 350px;

   background: #ffffff;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
   border-radius: 10px;
}

.directions__item:not(:last-child) {
   margin-right: 30px;
}

.directions__item img {
   margin-bottom: 23px;
}

.directions-item__title {
   margin-bottom: 28px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   line-height: 27px;
   text-align: center;

   color: #0297f1;
}

/* Gaz section styles */

.gaz {
   padding-top: 38px;
   padding-bottom: 76px;

   background: url("img/icons/circle.svg");
}

.gaz__title {
   margin-bottom: 28px;
}

.gaz__row {
   display: flex;
   justify-content: space-between;
}

.gaz__benefits {
   display: flex;
   align-items: start;
   flex-direction: column;
   justify-content: space-between;
}

.gaz__benefits p {
   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 24px;
   /* identical to box height */

   color: #13284f;
}

.gaz-benefits__title {
   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 29px;
   text-align: center;

   color: #00a5f7;
}

/* Price section styles */

.price {
   padding-top: 40px;
   padding-bottom: 90px;
}

.price__title {
   margin-bottom: 50px;
}

.price__row {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
}

.price-row__item {
   max-width: 350px;
   padding-top: 25px;
   padding-bottom: 28px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   background: #ddecff;
   box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.13);
   border-radius: 35px;
}

.price-row__item.dark-bg {
   background: #13284f;
}

.price-row__item img {
   margin-bottom: 20px;

   border-radius: 20px;
}

.price-row__item:not(:last-child) {
   margin-right: 30px;
}

.price-item__title {
   margin-bottom: 7px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   line-height: 27px;
   text-align: center;

   color: #0297f1;
}

.dark-bg .price-item__title {
   color: #ffffff;
}

.price-item__value {
   margin-bottom: 15px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 29px;
   text-align: center;

   color: #ef8711;
}

.price-item__list {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   /* identical to box height */

   text-align: center;

   color: #0297f1;
}

.dark-bg .price-item__list {
   color: #ffffff;
}

.price-item__list li {
   display: inline-block;
   position: relative;
   padding-left: 20px;
}

.price-item__list li::before {
   content: " ";
   position: absolute;
   top: 5px;
   left: 0;

   width: 12px;
   height: 12px;

   background: url("img/icons/galka.svg") 0 0 / contain no-repeat;
}

.price-item__list li:not(:last-child) {
   margin-bottom: 20px;
}

.price-row__item li:last-child {
   margin-bottom: 26px;
}

.price__service-order {
   width: 255px;
   height: 55px;
   display: flex;
   justify-content: center;
   align-items: center;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #0297f1;

   border: 1px solid #0297f1;
   box-sizing: border-box;
   border-radius: 10px;
}

.dark-bg .price__service-order {
   background: #ef8711;

   color: #ffffff;
}

/* Advantages section styles */

.advantages {
   width: 100%;
   height: 100%;
   padding-top: 30px;
   padding-bottom: 92px;

   background: url("img/benefits-bg.png") 0 0 / cover no-repeat, url("img/advantages.png") 0 0 / cover no-repeat;
}

.advantages__title {
   margin-bottom: 55px;

   color: #ffffff;
}

.advantages__flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;

   color: #ffffff;

   gap: 100px 5px;
}

.advantages-flex__item {
   display: flex;
   justify-content: center;
   width: 350px;
}

.advantages-flex__item img {
   margin-right: 30px;
}

.flex-item__title {
   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 28px;
   line-height: 34px;
}

.flex-item__info {
   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
}

/* Tasks section styles */

.tasks {
   padding-top: 55px;
   padding-bottom: 60px;
}

.tasks__title {
   margin-bottom: 50px;
}

.tasks__row {
   display: flex;
}

.tasks__slider {
   max-width: 600px;
   margin-right: 30px;
   flex: 1 1 600px;
}

.tasks__slider img {
}

.tasks__info {
   flex: 1 0;
}

.tasks-info__task {
   margin-bottom: 72px;
}

.tasks-info__task p {
   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
}

.tasks-info__task p:not(:last-child) {
   margin-bottom: 5px;
}

.blue-text {
   font-weight: 600;
   color: #0297f1;
}

.task__title {
   margin-bottom: 15px;

   font-family: Gilroy;
   font-style: normal;
   font-size: 24px;
   line-height: 29px;
}

.tasks-info__result {
}

.tasks-info__result p {
   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
}

.tasks-info__result p:not(:last-child) {
   margin-bottom: 20px;
}

/* Opportunites section styles */

.invite-expert {
   padding-bottom: 100px;
}

.invite-expert .container {
   padding: 30px 65px 43px 65px;

   background: #ffffff;
   box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
   border-radius: 20px;
}

.invite-expert__title {
   margin-bottom: 40px;
}

.invite-expert__row {
   display: flex;
   justify-content: space-between;
}

.invite-expert__opportunites {
}

.opportunites__title {
   margin-bottom: 47px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 24px;
}

.opportunites__list {
   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
}

.opportunites__list img {
   margin-right: 15px;
}

.opportunites__list li {
   display: flex;
   align-items: center;
}

.opportunites__list li:not(:last-child) {
   margin-bottom: 35px;
}

.invite-expert__contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px 0 0 0;
   width: 315px;

   border: 1px solid #d8d8d8;
   box-sizing: border-box;
   border-radius: 15px;
}

.contact__title {
   margin-bottom: 20px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 29px;
   text-align: center;

   color: #0297f1;
}

.contact__input {
   position: relative;

   padding-bottom: 20px;
}

.contact__input label {
   position: absolute;
   top: -7px;
   left: 20px;
   padding: 0 7px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;

   color: #ef8711;

   background-color: #fff;
}

.contact__input input {
   width: 255px;
   height: 40px;
   padding-left: 10px;

   border: 1px solid #c4c4c4;
   box-sizing: border-box;
   border-radius: 5px;
}

.contact__input:last-child {
   margin-bottom: 50px;
}

.contact__send {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 255px;
   height: 45px;
   margin-bottom: 21px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   color: #fff;

   background: #0297f1;
   border-radius: 10px;
}

/* Answer section styles */

/* Question section stylyes */

.question {
   padding-bottom: 80px;
}

.question__title {
   margin-bottom: 40px;
}

.question__row {
   position: relative;

   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 120px 25px 25px;

   background: #0297f1;
   border-radius: 15px;
   overflow: hidden;
}

.question__row::after {
   content: "";

   position: absolute;
   right: -300px;
   top: -400px;

   width: 800px;
   height: 800px;

   background: #ef8711;
   border: 200px solid #fff;
   border-radius: 50%;
   filter: blur(244px);
}

.question__row::before {
   content: "";

   position: absolute;
   left: -300px;
   bottom: -400px;

   width: 800px;
   height: 800px;

   background: #ef8711;
   border: 200px solid #fff;
   border-radius: 50%;
   filter: blur(244px);
}

.info {
   display: flex;
   flex-direction: column;
   align-items: center;

   flex: 0 0 480px;
   z-index: 3;
}

.question__row img {
   margin-right: 80px;
   margin-top: 10px;

   border-radius: 15px 90px;
   z-index: 3;
}

.info__number {
   margin-bottom: 25px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 36px;
   line-height: 44px;
   color: #fff;
   text-align: center;
}

.info__description {
   margin-bottom: 40px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 29px;
   text-align: center;

   color: #ffffff;
}

.info__button {
   width: 255px;
   height: 45px;
   display: flex;
   align-items: center;
   justify-content: center;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   color: #ef8711;

   background: #ffffff;
   border-radius: 10px;
}

/* Footer styles */

.footer {
   padding-top: 40px;
   padding-bottom: 46px;

   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;

   color: #ffffff;

   background-color: #13284f;
}

.footer a {
   color: #ffffff;
}

.footer__row {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.footer__row:not(:last-child) {
   margin-bottom: 41px;
}

.footer__menu {
   display: flex;
}

.footer__list {
}

.footer__list li:not(:last-child) {
   margin-bottom: 15px;
}

.footer__list:not(:last-child) {
   margin-right: 100px;
}

.footer__contacts li {
   display: flex;
   align-items: center;
}

.footer__contacts li p {
   font-family: Gilroy;
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   line-height: 12px;
   opacity: 0.7;
}

.footer__contacts img {
   margin-right: 21px;
}

.footer__contacts li:not(:last-child) {
   margin-bottom: 31px;
}

.footer-contacts__icons {
   display: flex;
}

.footer-contacts__icons li:not(:last-child) {
   margin-right: 30px;
}
