/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*--------------------*/

:root {
   --bg-dark-blue: #11161e;
   --bg-light-blue: #273140;
}

html {
   color: #ffffff;
}

.container {
   position: relative;

   max-width: 1150px;
   margin: 0 auto;
}

.section {
   padding: 120px 15px;
}

.section-title {
   font-style: normal;
   font-weight: normal;
   font-size: 42px;
   line-height: 49px;
}

.section-subtitle {
   font-family: Spartan;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 142.8%;
   color: #6a7c95;
}

.dark-background {
   background-color: var(--bg-dark-blue);
}

.light-background {
   background-color: var(--bg-light-blue);
}

/* Header Styles */

.header {
   padding: 124px 15px 20px 15px;
}

.menu {
   display: flex;
   align-items: center;
}

.menu li:not(:last-child) {
   padding: 0 57px 0 0;
}

.menu img {
   max-width: 100%;
}

.menu__logo {
   display: flex;
   flex: 1 1 auto;
   justify-content: center;
   align-items: center;
}

.menu__link {
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 151.3%;

   color: rgba(118, 134, 159, 0.8);
}

.green-link {
   color: #5ca35b;
}

/* Welcome styles */

.welcome {
   position: relative;
   overflow: hidden;

   font-family: Roboto, sans-serif;
   font-style: normal;
}

.welcome > .container::before {
   content: "";
   position: absolute;
   right: -10%;
   top: 0%;
   z-index: 2;

   display: inline-block;
   width: 604px;
   height: 402px;

   background-image: url("img/welcome.jpg");
}

.welcome > .container::after {
   content: "";
   position: absolute;
   right: -13%;
   top: 10%;
   z-index: 1;

   width: 604px;
   height: 402px;

   background: url("img/welcome-bg.svg") no-repeat;
}

.welcome__wrapper {
   max-width: 578px;
   z-index: 3;
}

.welcome__title {
   padding: 0 0 34px 0;

   font-weight: bold;
   font-size: 60px;
   line-height: 101.3%;
}

.welcome__subtitle {
   padding: 0 0 67px 0;

   font-weight: normal;
   font-size: 26px;
   line-height: 129.8%;
   color: #6a7c95;
}

.welcome__create {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 262px;
   height: 49px;
   margin: 0 0 190px 0;

   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 151.3%;
   color: #ffffff;

   background: #5ca35b;
   border-radius: 10px;
}

.welcome__contacts {
   display: flex;
   align-items: center;
}

.welcome__contacts a {
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 151.3%;

   color: rgba(118, 134, 159, 0.8);
}

.welcome__tel {
   position: relative;

   padding: 0 0 0 62px;
   margin: 0 25px 0 0;
}

.welcome__tel::before {
   content: "";
   position: absolute;
   top: -3px;
   left: 0;

   width: 42px;
   height: 34px;

   background: url("img/icons/call.svg");
}

.welcome__mail::before {
   content: "";
   position: absolute;
   top: -3px;
   left: 0;

   width: 42px;
   height: 34px;

   background: url("img/icons/email.svg");
}

.welcome__mail {
   position: relative;

   padding: 0 0 0 62px;
}

/* Benefits section styles */

.daru-link {
   background-color: #181f29;
}

.daru-link__title {
   margin-bottom: 8px;
}

.daru-link__subtitle {
   margin-bottom: 65px;
}

.daru-link__benefits {
}

.benefits__list {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
}

.benefits__item {
   display: flex;
   flex: 0 1 33.333%;
   flex-direction: column;
   align-items: center;
   padding: 37px 33px 0 38px;

   background: #273140;
   border-radius: 15px;
}

.benefits__item:not(:last-child) {
   margin: 0 95px 0 0;
}

.benefits__image {
   align-self: center;
   margin-bottom: 28px;
}

.item__title {
   margin-bottom: 18px;

   font-family: Spartan;
   font-style: normal;
   font-weight: bold;
   font-size: 28px;
   line-height: 31px;
}

.item__info {
   margin-bottom: 37px;

   font-family: Spartan;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 142.8%;
   text-align: center;
   color: #717e92;
}

/* Opportunity section styles */

.opportuniry {
}
.opportunity__title {
   margin-bottom: 22px;
}
.opportunity__subtitle {
   margin-bottom: 61px;
}
.opportunity__companies {
   display: flex;
   align-items: center;
}

.opportunity__companies img:not(:last-child) {
   padding: 0 47px 0 0;
}

.opportunity__wrapper {
   max-width: 600px;
}

/* Comfort section styles */

.comfort {
   overflow: hidden;
}

.comfort > .container::before {
   content: "";
   position: absolute;
   left: 50%;
   bottom: -25%;
   z-index: 2;
   overflow: hidden;

   width: 180px;
   height: 290px;

   background: url("img/mobile1.png") no-repeat;
   border-radius: 20px;
}

.comfort > .container::after {
   content: "";
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: 1;
   overflow: hidden;

   width: 287px;
   height: 417px;

   background: url("img/mobile2.png") no-repeat;
   border-radius: 20px;
}

.comfort__wrapper {
   max-width: 565px;
}

.comfort__title {
   margin-bottom: 22px;
}

.comfort__subtitle {
   margin-bottom: 49px;
}

.comfort__link {
   display: inline-block;
   width: 262px;
   height: 49px;
   display: flex;
   align-items: center;
   justify-content: center;

   font-family: Spartan;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 151.3%;
   color: #6a7c95;

   background: #212a38;
   border-radius: 10px;
}

/* Price section styles */

.price {
}

.price__title {
   margin-bottom: 22px;
}

.price__subtitle {
   margin-bottom: 48px;
}

.price__row {
   display: flex;
   flex: 1 0 33.333%;
   align-items: stretch;
   justify-content: space-between;
}

.price__tarif {
   padding: 53px 33px 0 36px;
   display: flex;
   flex-direction: column;
   align-items: center;

   background: #273140;
   box-shadow: 0px 1px 26px rgba(24, 31, 41, 0.15);
   border-radius: 15px;
}

.tarif__title {
   padding-bottom: 5px;
   margin-bottom: 23px;

   font-family: Spartan;
   font-style: normal;
   font-weight: bold;
   font-size: 28px;
   line-height: 31px;
}

.tarif__list {
   width: 100%;
   margin-bottom: 39px;

   font-family: Spartan;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 160.3%;
   color: #717e92;
}

.tarif__list li {
   position: relative;

   padding: 0 0 0 15px;
}

.tarif__list li::before {
   content: ".";
   position: absolute;
   top: -4px;
   left: 0;
}

.blocked {
   color: #3b485a;
}

.tarif__buy {
   width: 248px;
   height: 38px;
   margin-bottom: 47px;

   font-family: Spartan;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 20px;
   color: #fff;

   border-radius: 5px;
}

.violet {
   background: #6a7395;
}

.green {
   background: #6a9590;
}

.orange {
   background: #95936a;
}
